<footer class="site-footer h-card">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <p>
        <a href="{{ '/' | site.baseurl }}">{{ site.title | escape }}</a>
        |
        <span>{{- site.description | escape -}}</span>
      </p>

      <!--
      <p>
        It is my most strong belief that the world would be a better place if
        we had less superstition and ignorance and spent more time advancing science
        and seeking knowledge and wisdom in general.
      </p>
      -->
    </div>

  </div>

</footer>
