---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <section class="my-other-sites">
    <style scoped>
      .my-other-sites {
        border: 2px dashed #6ca516;
        text-align: center;
        padding: 0.6em;
        margin-bottom: 1em;
      }
      .my-other-sites ul {
        list-style: none;
      }
    </style>
    <p>Check my other notes and docs as well:</p>
    <ul>
      <li>
        <a
          href="https://www.devhowto.dev/"
          target="_blank"
        >
          Dev How To on Read The Docs
        </a>
      </li>
      <li>
        <a
          href="https://devhowto.gitlab.io"
          target="_blank"
        >
          Dev How To on Gitlab Pages
        </a>
      </li>
      <li>
        <a
          href="https://devhowto.notion.site/9404c47a1fba4cbd90193b4f821d9d03"
          target="_blank"
        >
          Dev How To Dev Notes on Notion
        </a>
      </li>
    </ul>
  </section>

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
